.swipeButtons {
    position: fixed;
    bottom: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.swipeButtons .MuiIconButton-root {
    background-color: white;
    box-shadow: black !important;
}

.swipeButtons__repeat {
    padding: 3vw !important;
    color: #f5b748;
}
.swipeButtons__left {
    padding: 3vw !important;
    color: #ec5e6f;
}
.swipeButtons__star {
    padding: 3vw !important;
    color: #62b4f9;
}